{:deps
 {com.github.gersak/vura.core {:mvn/version "0.5.7-SNAPSHOT"}
  com.github.gersak/vura.timezones {}
  com.github.gersak/vura.holidays {:local/root "holidays"}
  com.github.gersak/vura.cron {:local/root "cron"}}
 :aliases
 {:cider
  {:extra-deps {org.clojure/clojure {:mvn/version "1.10.1"}
                cider/cider-nrepl {:mvn/version "0.27.3"}}
   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
  ;;
  :compile/tzdb
  {:main-opts ["-m" "vura.timezones.compile"]}
  ;;
  :test {:extra-paths ["test"]}
  ;;
  :run/tests {:extra-deps {com.cognitect/test-runner
                           {:git/url "https://github.com/cognitect-labs/test-runner.git"
                            :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
              :main-opts ["-m" "cognitect.test-runner"]}}}
