{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.520"}}
 :paths ["core/src" 
         "timezones/generated"]
 :aliases
 {:tz 
  {:extra-paths ["timezones/src" "resources/src"]
   :extra-deps {me.raynes/fs {:mvn/version "1.4.6"}
                instaparse/instaparse {:mvn/version "1.4.10"}}}
  ;;
  :compile/tzdb
  {:extra-paths ["timezones/src" "resources/src"]
   :extra-deps {me.raynes/fs {:mvn/version "1.4.6"}
                instaparse/instaparse {:mvn/version "1.4.10"}}
   :main-opts ["-m" "vura.timezones.compile"]}
  ;;
  :test {:extra-paths ["test"]}
  ;;
  :run/tests {:extra-deps {com.cognitect/test-runner
                           {:git/url "https://github.com/cognitect-labs/test-runner.git"
                            :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
              :main-opts ["-m" "cognitect.test-runner"]}
  ;;
  :holidays {:extra-paths ["holidays/src"]}
  ;;
  :cron {:extra-deps 
         {kovacnica/dreamcatcher {:mvn/version "1.0.9-SNAPSHOT"}
          org.clojure/tools.logging {:mvn/version "0.4.0"}
          org.clojure/data.json {:mvn/version "0.2.6"}
          org.clojure/core.async {:mvn/version "0.4.474"}} 
         :extra-paths ["cron/src"]}}}
