{:deps
 {org.clojure/tools.logging {:mvn/version "0.4.0"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  kovacnica/dreamcatcher {:mvn/version "1.0.9-SNAPSHOT"}
  org.clojure/clojurescript {:mvn/version "1.10.520"}
  org.clojure/core.async {:mvn/version "0.4.474"}}
 :paths ["src/core" "test"]
 :aliases
 {:tz 
  {:extra-paths ["src/tz" "resources/src"]
   :extra-deps {me.raynes/fs {:mvn/version "1.4.6"}
                instaparse {:mvn/version "1.4.10"}}}
  :tz-compile 
  {:extra-paths ["src/tz" "resources/src"]
   :extra-deps {me.raynes/fs {:mvn/version "1.4.6"}
                instaparse {:mvn/version "1.4.10"}}
   :main-opts ["-m" "vura.timezones.compile"]}
  :holidays {:extra-paths ["src/holidays"]}
  :cron {:extra-paths ["src/cron"]}}}
