{:deps true
 :builds
 {:timing {:target :browser
           :modules {:timing {:entries [timing.core]}}
           :output-to "target/timing.js"
           :devtools {:http-root "target"
                      :http-port 3450}}}}
