{:deps
 {dev.gersak/timing.core {:local/root "../core"}
  ; dev.gersak/timing.core {:mvn/version "0.6.4"}
  kovacnica/dreamcatcher {:mvn/version "1.0.9"
                          :exclusions [org.clojure/clojurescript]}}
 :paths ["src"]
 :aliases
 {:cider
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.27.2"}}}
  :test {:extra-paths ["test"]}}}
