{:deps
 {dev.gersak/timing.core {:local/root "../core"}}
 :paths ["generated" "src"]
 :aliases
 {:compile
  {:extra-paths ["compiler" "test"]
   :extra-deps {io.forward/yaml {:mvn/version "1.0.11"}}}
  :test
  {:extra-paths ["test" "compiler"]
   :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}
                com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}}}}
